/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    table {
        @apply min-w-full divide-y divide-gray-200 table-auto my-4
    }
    thead {
        @apply bg-gray-50
    }
    th {
        @apply text-left text-sm font-header text-gray-800 uppercase tracking-wider  px-3 py-2
    }
    tbody {
        @apply bg-white divide-y divide-gray-200
    }
    td {
        @apply whitespace-nowrap px-3 py-2
    }
    .has-text-align-right {
        @apply text-right
    }
    .has-text-align-left {
        @apply text-left
    }

    ul li {
        @apply list-disc list-inside ml-4
    }

    ol li {
        @apply list-decimal list-inside ml-4
    }

    article ul {
        @apply mb-4
    }

    article ol {
        @apply mb-4
    }

    article p {
        @apply mb-4
    }

    article a {
        @apply underline font-semibold
    }

    .card a {
        @apply underline font-semibold
    }

    .card p {
        @apply mb-4
    }

    h1 {
        @apply text-3xl font-black font-header mt-6 mb-2;
    }
    h2 {
        @apply text-2xl font-extrabold font-header mt-4 mb-2;
    }
    h3 {
        @apply text-xl font-bold font-header mt-2 mb-2;
    }
    h4 {
        @apply text-lg font-semibold font-header mt-2 mb-2;
    }

    @font-face {
        font-family: Roboto Slab;
        font-weight: 300;
        src: url(../fonts/RobotoSlab/RobotoSlab-Light.ttf) format("woff");
    }
    @font-face {
        font-family: Roboto Slab;
        font-weight: 400;
        src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf) format("woff");
    }
    @font-face {
        font-family: Roboto Slab;
        font-weight: 500;
        src: url(../fonts/RobotoSlab/RobotoSlab-Medium.ttf) format("woff");
    }
    @font-face {
        font-family: Roboto Slab;
        font-weight: 600;
        src: url(../fonts/RobotoSlab/RobotoSlab-SemiBold.ttf) format("woff");
    }
    @font-face {
        font-family: Roboto Slab;
        font-weight: 700;
        src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf) format("woff");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 300;
        src: url(../fonts/Montserrat/Montserrat-Light.ttf) format("woff");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 400;
        src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("woff");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 500;
        src: url(../fonts/Montserrat/Montserrat-Medium.ttf) format("woff");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 600;
        src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format("woff");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 700;
        src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format("woff");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 800;
        src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format("woff");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 900;
        src: url(../fonts/Montserrat/Montserrat-Black.ttf) format("woff");
    }
    @font-face {
        font-family: Teko;
        font-weight: 300;
        src: url(../fonts/Teko/Teko-Light.ttf) format("woff");
    }
    @font-face {
        font-family: Teko;
        font-weight: 400;
        src: url(../fonts/Teko/Teko-Regular.ttf) format("woff");
    }
    @font-face {
        font-family: Teko;
        font-weight: 500;
        src: url(../fonts/Teko/Teko-Medium.ttf) format("woff");
    }
    @font-face {
        font-family: Teko;
        font-weight: 600;
        src: url(../fonts/Teko/Teko-SemiBold.ttf) format("woff");
    }
    @font-face {
        font-family: Teko;
        font-weight: 700;
        src: url(../fonts/Teko/Teko-Bold.ttf) format("woff");
    }
}